**/.vscode
**/*.pdf
**/*.zip
**/__pycache__
**/*.csv
**/assignment01.py
**/assignment01_extended.py
**/credentials.py
**/*.zip
**/*.rar
**/all_levels
**/first_level
**/second_level
**/third_level
**/geo_pandas
**/.ipynb_checkpoints